
body{
    margin: 0;
    padding: 0;
    background-color: rgb(132, 132, 202);
    font-family: 'Courier New', Courier, monospace;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

#cards{
    margin: 0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    height: 16em ;
    width: 21em;
    margin-bottom: 3.5em;

}

img{
    height: 5em;
    width: 5em;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 2px;

}

h1{
    color:  rgb(16, 14, 133);
    text-shadow: 2px 3px white;
    font-size: 2.9em;
}

h3{
    font-size: 1.5em;
    
}


#message{
    height: 29.2px;
    width: 477.29px;
    white-space: wrap;
    display: flex;
    justify-content: center;
    margin-top: 0.8px;
    position: absolute;
    bottom: 0.5em;
    
    
    
}

#button{
    height: 40px;
    width: 130px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    display: none;
    position: absolute;
    white-space: nowrap;
    bottom: 3em;
}
 button:hover{
    color: white;
    background-color: rgb(46, 46, 181);
    border: 2px solid white;
    box-shadow: 10px 10px 10px rgb(19, 19, 86);
 }

 #game-over{
    font-size: 3em;
    color: rgb(18, 18, 61);
    bottom: 1em;
    display: none;
    white-space:nowrap;
    
 }
 #play{
    height: 40px;
    width: 130px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 15em;
 }
